/* CSS declarations go here */

.reactive-scroll
{
  width : 100%;
  height : 100%;
  overflow : scroll;
  overflow-x : hidden;
  -webkit-overflow-scrolling : touch;
}

.reactive-scroll-item-temp-holder
{
  overflow : hidden;
  height : 0;
}