.document-graph
{
  position : absolute;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
  overflow : hidden;
}

.document-graph-document
{
  position : absolute;
  left : 0;
  top : 0;
}

.document-graph-in-link,
.document-graph-out-link,
.document-graph-canvas
{
  position : absolute;
  left : 0;
  top : 0;
  pointer-events : none;
  height : 100%;
  width : 100%;
}

.document-graph-groups
{
  pointer-events: none;
}

.document-graph-in-link,
.document-graph-out-link
{
  width : 100%;
  height : 100%;
}