.document-graph
{
  position : absolute;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
  overflow : hidden;
}

.document-graph-document
{
  position : absolute;
  left : 0;
  top : 0;
}

.document-graph-in-link,
.document-graph-out-link,
.document-graph-canvas,
.document-graph-svg
{
  position : absolute;
  left : 0;
  top : 0;
  pointer-events : none;
  height : 100%;
  width : 100%;
}

.document-graph-document
{
  z-index: 2;
}

.document-graph-document.document-graph-group-document
{
  z-index: 1;
}

.document-graph-document.document-graph-interactable-document
{

}

.document-graph-document.document-graph-noninteractable-document {
  pointer-events: none;
}

.document-graph-document.document-graph-focused-document
{
  z-index : 3;
}

.document-graph-group

.document-graph-in-link,
.document-graph-out-link
{
  width : 100%;
  height : 100%;
}