.reactive-carousel > div
{
  position : absolute;
  width  : 100%;
  height : 100%;
  top  : 0;
  left : 0;
  background : rgba(0,0,0,0.25);
}

.reactive-carousel-left-end,
.reactive-carousel-right-end
{
  position : absolute;
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
}

.reactive-carousel-right-end
{
  right : 50%;
}

.reactive-carousel-left-end
{
  left : 50%;
}

.reactive-carousel > :nth-child(1) {-webkit-transform : translate(-100%, 0);}
.reactive-carousel > :nth-child(2) {-webkit-transform : translate(    0, 0);}
.reactive-carousel > :nth-child(3) {-webkit-transform : translate( 100%, 0);}

.reactive-carousel {
  position : absolute;
  top  : 0;
  left : 0;
  width : 100%;
  height : 100%;
  -webkit-transform : scale(1);
}

.reactive-carousel.animating > :nth-child(1),
.reactive-carousel.animating > :nth-child(2),
.reactive-carousel.animating > :nth-child(3),
.reactive-carousel.animating
{ -webkit-transition : 300ms ease-out; }